.wrapper{
display: flex;
}

.side_bar{
height: 100vh;
width: 300px;
background-color: #253141;
}

.side-bar-header{
background-color: #253141;
height: 100px;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.rooms{
height: calc(100vh - 100px);
background-color: #2f3e51;
padding: 0 20px;
overflow: scroll;
}

.room{
  padding: 20px 20px 40px 20px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.chat{
width: calc(100vw - 300px);
background-color: #ffffff;
}

.chat-header{
height: 100px;
padding: 0 40px;
display: flex;
justify-content: space-between;
}

.header-title{
padding: 36px 40px;
font-size: 24px;
color: #333;
}

.header-button{
  margin-top: 40px;
}

.header-button a {
  margin-right: 40px;
  padding: 20px;
  border: 1px solid darkred;
  color: darkred;
  text-decoration: none;
}

.messages{
height: calc(100vh - 100px - 90px);
background-color: #fafafa;
padding: 46px 40px 0 40px;
overflow: scroll;
}

.message{
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user{
  font-size: 16px;
  color: #434a54;
}

.message-date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.lower-message{
  margin-top: 10px;
}

.message-content{
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

.form{
height: 90px;
background-color: #dddddd;
padding: 20px 40px 20px 40px;
display: flex;
}

.form-input{
width: 100%;
background-color: white;
display: flex;
}

.form-message {
  padding-left: 10px;
  height: 50px;
  border: none;
  width: 100%;
}

.form-submit{
  color: white;
  background-color: #38AEF0;
  border: none;
  font-size: 16px;
  margin-left: 15px;
  padding: 0 20px;
  height: 50px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}