.wrapper{
display: flex;
}

.side_bar{
height: 100vh;
width: 300px;
background-color: #253141;
}

.side-bar-header{
height: 100px;
padding: 0 20px;
}

.rooms{
height: calc(100vh - 100px);
background-color: #2f3e51;
padding: 0 20px;
}

.chat{
width: calc(100vw - 300px);
background-color: #ffffff;
}

.chat-header{
height: 100px;
padding: 0 40px;
}

.messages{
height: calc(100vh - 100px - 90px);
background-color: #fafafa;
padding: 46px 40px 0 40px;
}

.form{
height: 90px;
background-color: #dddddd;
padding: 20px 40px 20px 40px;
}